﻿@model IEnumerable<DriverInformation.ViewModel.DriverInfoModel>

@{
    Layout = null;
}

    <div class="container">
        <p>@Html.ActionLink("Add New Driver", "Create")</p>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GenderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActiveId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Football)
                        @Html.ActionLink("Show Active", "Active", null, new { @class = " btn btn-primary " })
                    </th>
                    <th> </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DriverId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DriverName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GenderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActiveId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Football)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", null, new { id = item.DriverId }, new { @class = " btn btn-info " })
                            @Html.ActionLink("Show Details", "Details", null, new { id = item.DriverId }, new { @class = " btn btn-success " })
                            <span class="m-1">
                                @Html.ActionLink("Delete", "Delete", null, new { id = item.DriverId }, new { @class = " btn btn-danger " })
                            </span>

                            @*<div class="mt-1">
                                    <input type="button" value="Del_btn" id="deleteBtn" class="btn btn-danger " data-model-id="@item.DriverId" />
                                </div>*@
                        </td>

                    </tr>
                }
            </table>
        </div>
        <br />
        <hr />
        <footer>
            @*<p>
                    Author: Sushil Rai <br>
                    <a href="mailto:sushil01.sr@gmail.com">sushil01.sr@gmail.com</a>
                </p>*@
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                © 2023 Copyright: Sushil Rai
                <p>
                    Mail to:
                    <a class="text-reset fw-bold" href="mailto:sushil01.sr@gmail.com">sushil01.sr@gmail.com</a>
                </p>
            </div>
        </footer>
    </div>
    <br />
    <hr />
    
